resumeinfo {
  font-family: Fantasy, Arial, Calibri;
}
h2 {
  text-align: center;
  color: CadetBlue;
  border: 3px CadetBlue;
  padding: 5 px;
}

h1 {
 color: DarkBlue;
 text-align: center;
 font-weight: bolder;
}
  
