div {
  font-family: Fantasy, Arial, Calibri;
}

h1 {
 color: MidnightBlue;
 text-align: center;
 border-bottom: 5px MidnightBlue;
 background-color: FloralWhite; 
}

h2 {
  text-align: center;
  color: MediumBlue;
  background-color: FloralWhite;
}

p {
  color: DodgerBlue;
}
  
#contact {
  text-align: center;
}

#core {
  text-align: center;
}

ul {
  border-left: 5px DodgerBlue;
}
