div {
  font-family: Fantasy, Arial, Calibri;
}

h1 {
 color: MidnightBlue;
 text-align: center;
 border-style: solid;
 border-color: MidnightBlue;
 background-color: FloralWhite; 
}

h2 {
  text-align: center;
  color: MediumBlue;
  background-color: FloralWhite;
  border-style: double;
  border-color: MediumBlue;
}

p {
  color: DodgerBlue;
}
  
#contact {
  text-align: center;
}

#core {
  text-align: center;
}

#job {
   border-style: hidden hidden hidden solid;
  border-color: MediumBlue;
}
